:root {
   --main-font: Roboto, sans-serif;
   --secondary-font: Raleway, sans-serif;
   --titel-text-color: #212121;
   --titel-accent-color: #FFFFFF;
   --primary-text-color:  #757575;
   --secondary-text-color: rgba(255, 255, 255, 0.6);
   --primary-bg-color: #E5E5E5;
   --secondary-bg-color: #F5F4FA;
   --header-bg-color: #FFFFFF;
   --hero-footer-bg-color: #2F303A;
   --dark-accent-color: #000000;
   --bright-accent-color: #2196F3;
   --bg-accent-color: #188CE8;  
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
}
   


body {
   font-family: var(--main-font);
}
.list {
   list-style: none;
}
.link {
   text-decoration: none;
}
/*===Page bg===*/
.background-color {
   color: var(--primary-bg-color);  
}
.header {
   background-color: var(--header-bg-color);
}
.logo-accent {
   color: var(--bright-accent-color);
   }
.hero {
   background-color: var(--hero-footer-bg-color);
}
.modal-button {
   color: var(--titel-accent-color);
   background-color: var(--bright-accent-color);
}
.footer {
   background-color: var(--hero-footer-bg-color);
}
.contact-map,
.contact-dark-bg {
   font-style: normal;
}
.contact-bright-bg {
   color: var(--primary-text-color); 
}
.contact-dark-bg {
   color: var(--secondary-text-color);
}
img {
   display: block;
}

.container {
   width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}


/* ======== HEADER ======== */
.header {
   padding: 24px 0;
}
.header .container {
   display: flex;
}
.navigation {
   display: flex;
   align-items: center;
}
.navigation-list {
   display: flex;
}
.sublist {
   display: flex;
   align-items: center;
}
.sublist {
   margin-left: auto;   
}
.sublist-item {
   padding-left: 50px;
}

.navigation-list-item:not(:last-child) {
   margin-right: 50px;

}
.logo {
   font-family: var(--secondary-font);
   font-weight: 700;
   font-size: 26px;
   line-height: 1.191;
   letter-spacing: 0.03em;
   color: var(--dark-accent-color);
   margin-right: 94px;
}
.navigation-list-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.02em;
   color: var(--titel-text-color);
}
.contact-bright-bg {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.02em;
   color: var(--primary-text-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-bright-bg:hover,
.contact-bright-bg:focus {
   color: var(--bright-accent-color);
}
.navigation .navigation-list-link.current {
   color: var(--bright-accent-color);
}

/* ======== END HEADER ======== */




/* ======== HERO-Section 1======== */
.hero {
   padding: 200px 280px 452px;
}
/*.hero .container {
   padding: 200px 280px 452px;
}*/


.hero-headline {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.364;
   text-align: center;  
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--titel-accent-color);
}

.modal-button {
   font-family: var(--main-font);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.06em;
   /*text-align: center;*/
   border: 1px solid transparent;
   border-radius: 4px;
   width: 200px;
   height: 50px; 
   /*margin: 30px 200px 700px;*/
   
   
   
   
}
.modal-button:hover,
.modal-button:focus {
   background-color: var(--bg-accent-color);
}

/* ======== END HERO-Section1 ======== */



/* ======== FEATURES-Section2 ======== */

.features-list-topic {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--titel-text-color);
}
.features-list-text {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.714;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);   
}
/* ======== END FEATURES-Section2 ======== */



/* ======== ABOUT-Section 3 ======== */

.about-desc {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.167;
   text-align: center;
   color: var(--titel-text-color);
}
/* ======== END ABOUT-Sectio 3 ======== */


/* ======== TEAM-Section 4 ======== */

.team {
   background-color: var(--secondary-bg-color);
}
.team-staff {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.167;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--titel-text-color);
}
.staff-name {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.187;
   letter-spacing: 0.03em;
   color: var(--titel-text-color);
}
.staff-spetiality {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.187;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
}
/* ======== END TEAM-Sectio 4 ======== */

/* ======== FOOTER ======== */

.logo-footer {
   font-family: var(--secondary-font);
   font-weight: 700;
   font-size: 26px;
   line-height: 1.191;
   letter-spacing: 0.03em;
   color: var(--titel-accent-color);
}
.contact-dark-bg,
.contact-map {
   font-family: var(--main-font);
   font-weight: 400;
   font-size: 14px;
   line-height: 1.713;
   letter-spacing: 0.03em;
}
.contact-map {
   color: var(--titel-accent-color);
}

.contact-map:hover,
.contact-map:focus,
.contact-dark-bg:hover,
.contact-dark-bg:focus {
   color: var(--bright-accent-color);
}

/* ======== END FOOTER ======== */



/* ======== PORTFOLIO ======== */
.option-button {
   font-family: var(--main-font);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.625;
   letter-spacing: 0.03em;
   color: var(--titel-text-color);
}
.option-button:hover,
.option-button:focus {
   color: var(--titel-accent-color);
   background: var(--bright-accent-color);
}
.option-list .option-button.current {
   color: var(--titel-accent-color);
   background-color: var(--bright-accent-color);
}





/* ======== END-PORTFOLIO ======== */



/* ======== PROJECTS GALLERY/List ======== */
.projects-name {
   font-weight: 700;
   font-size: 18px;
   line-height: 2.00;
   letter-spacing: 0.06em;
   color: var(--titel-text-color);
}
.projects-typ {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
}

/* ======== END PROJECTS GALLERY/Section ======== */















